.CharItem a {
  list-style: none;
  background: white;
  border: 1px solid darkgray;
  padding: 10px;

  display: grid;
  grid-template-rows: 30px 120px 20px;
  grid-gap: 10px;

  justify-items: center;

  text-decoration: none;
  color: inherit;
  cursor: pointer;
}



.CharItem h2 {
  margin: 0;
}

.CharItem img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.CharItem p {
  margin: 0;
  font-size: .9rem;
}